name: Manual Approval Workflow

on:
  workflow_dispatch:


jobs:
  manual-approval:
    runs-on: ubuntu-latest
    environment:
      name: dev
      # url: https://github.com/jassi620/test/environments/dev
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Manual Approval Step
      uses: ./.github/actions/manual-approval
      with:
        greeting: "Hello, please approve to proceed!"
