name: Manual Approval Workflow

on:
  workflow_dispatch:
    inputs:
      greeting:
        description: 'Greeting message'
        required: true

jobs:
  greetings:
    runs-on: ubuntu-latest
    steps:
    - name: Greet user
      run: echo "${{ inputs.greeting }}"

  manual-approval:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
    - name: Wait for manual approval
      run: echo "Waiting for manual approval via GitHub Environments..."

  greetings2:
    runs-on: ubuntu-latest
    needs: manual-approval
    steps:
    - name: Greet user
      run: echo "${{ inputs.greeting }}"

    # steps:
    # - name: Checkout repository
    #   uses: actions/checkout@v4
    # - name: Manual Approval Step
    #   uses: ./.github/actions/manual-approval
    #   with:
    #     greeting: "Hello, please approve to proceed!"
